.row {
    margin-right: auto;
    margin-left: auto;
    text-align: center;    
}
.button {
    text-align: center;
    height: 200px;
}
#question {
    font-size: 50px;
    margin-top: 50px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    
}
.answer {
    margin-top: 25px;
}
.title {
    font-size: 100px;
}
#timer {
    font-size: 40px;
}


  
