body {
    background-color: rgb(0, 153, 253);
    font-family: "Patrick Hand", Arial;
}
.row {
    margin-right: auto;
    margin-left: auto;
    text-align: center;    
}
.btn {
    margin-top: 100px;
    background-color: red;
    border-radius: 40px;
}
.btn:hover {
    background-color: rgb(167, 0, 0);
}
#question {
    font-size: 60px;
    padding: 20px;
    margin-top: 15px;
    color: rgb(0, 99, 165);
    border-radius: 40px 40px 0 0;
    background-color: white;
}
.startButton {
    padding-bottom: 0;
}
.answer {
   height: 100%;
   padding: 0;
   background-color: white;
   font-size: 60px;
}
.title {
    margin-top: 15px;
    font-size: 120px;
    color: white;
}
#timer {
    font-size: 70px;
    color: rgb(0, 99, 165);
    background-color: white;
    border-radius: 0 0 40px 40px;
}
#answer1 {
    background-color: white;
    color: white;
    padding-right: 0;
    cursor: pointer;
}
.col-12 {
    padding-left: 0;
    padding-right: 0;
}
#answer2 {
    background-color: white;
    color: white;
    cursor: pointer;
}
#answer3 {
    background-color: white;
    color: white;
    cursor: pointer;
}
#answer4 {
    background-color: white;
    color: white;
    cursor: pointer;
}
.btn-primary {
    width: 100%;
    font-size: 200px;
}
.scoreboard {
    color: rgb(0, 99, 165);
    background-color: white;
    border-radius: 40px;
}
.scores {
    font-size: 90px;
}
  
