body {
    background-color: rgb(45, 136, 255)
}

.row {
    margin-right: auto;
    margin-left: auto;
    text-align: center;    
}
.btn {
    background-color: red;
}

#question {
    font-size: 50px;
    padding: 20px;
    margin-top: 25px;
    color: rgb(31, 88, 161);
    border-radius: 5px 5px 0 0;
    background-color: white;
    
}
.startButton {
    padding-bottom: 0;
}
.answer {
   height: 100%;
   padding: 0;
}
.title {
    font-size: 100px;
    color: white;
}
#timer {
    font-size: 40px;
    color: white;
}
#answer1 {
    background-color: rgb(124, 181, 255);
    color: white;
    padding-right: 0;
}
.col-12 {
    padding-left: 0;
    padding-right: 0;
}
#answer2 {
    background-color: rgb(153, 196, 253);
    color: white;
}
#answer3 {
    background-color: rgb(124, 181, 255);
    color: white;
}
#answer4 {
    background-color: rgb(153, 196, 253);
    color: white;
    border-radius: 0 0 5px 5px;
}
.btn-primary {
    width: 100%;
    font-size: 150px;
}
.scores {
    color: white;
}
  
